<ion-view class="fondo" view-title="BioTech">
  <ion-content class="padding">
    <div class="row">
      <div class="col borde centro"><video autoplay controls src="../video/video1.mp4" width="300" height="300"></video></div>
    </div>
    <div class="row">
      <div><h1 class="centro">la impotancia del agua</h1>

      	<div class="row">
        <div><p>El agua es muy importante para la salud, el agua es elemento mas importante es una importancia vitual para el ser humano asi como el resto de animales y seres vivos que nos acompañan en el planeta tierra sea que el 70% de la tierra sea agau y el 70% de nuestro cuerpo tambien sea agua. a nosotros los seres humanos tenemos que tomar mucha agua para estar bien del cuerpo cuidar el agua es muy fundamental para nuestro planeta tierra.El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.</p
        	></div>


          

      </div>
      <div class="row centro1">
            <div class="centro1"><h1 >Metodos Anticonceptivos</h1></div>

            <div></div>
            <div class="row centro2">
            <div class="centro2"><p>Dispositivos intrauterinos. Anticonceptivos de barrera masculinos (condón) y femeninos (condón, diafragma; espermicidas). Método de la amenorrea de lactancia. Métodos de abstinencia periódica (moco cervical (Billings); calendario; temperatura basal; sintotérmico).</p></div>
            
          </div>
   		</div>
    </div>
  </ion-content>
</ion-view>
