<ion-view class="fondo" view-title="BioTech">
  <ion-content class="padding">
    <div class="row">
      <div class="col borde centro"><video autoplay controls src="../video/video1.mp4" width="150" height="150"></video></div>
    </div>
      <div class="row">
        <div class="col"><h1 class="centro1">La importancia del agua</h1></div>
      </div>
      <div class="row">
        <div class="col">
          <p>El agua es muy importante para la salud, el agua es elemento mas importante es una importancia vitual 
para el ser humano asi como el resto de animales y seres vivos que nos acompañan en el planeta tierra sea que el 70% de la 
tierra sea agau y el 70% de nuestro cuerpo tambien sea agua. a nosotros los seres humanos tenemos que tomar mucha agua para 
estar bien del cuerpo cuidar el agua es muy fundamental para nuestro planeta tierra.El agua es el elemento más importante 
para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos 
acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro 
cuerpo también sea agua.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="centro1">Metodos Anticonceptivos</h1>
          <br>
          <p>Son los métodos o procedimientos que previenen un embarazo en mujeres sexualmente activas, ya sean ellas o sus parejas quienes los usen. Pueden ser hormonales o no hormonales, transitorios o definitivos, basados en tecnología o en conductas[1]. Los métodos anticonceptivos (MAC) disponibles actualmente</p>
        </div>
      </div>
          

  </ion-content>
</ion-view>
